version: '3.3'

volumes:
  postgres_data:
      driver: local

services:
  postgres:
      container_name: miu_ea_movie_rating_postgres
      image: postgres
      volumes:
        - postgres_data:/var/lib/postgresql/data
      environment:
        POSTGRES_HOST_AUTH_METHOD: trust
        POSTGRES_DB: keycloak_db
        POSTGRES_USER: keycloak
        POSTGRES_PASSWORD: password
      ports:
        - 5431:5432
  keycloak:
      container_name: miu_ea_movie_rating_keycloak
      image: 'quay.io/keycloak/keycloak:latest'
      build:
        context: services/keycloak
      volumes:
        - ./imports:/tmp/import
      command:
        - start-dev
        - "-Dkeycloak.migration.action=import"
        - "-Dkeycloak.migration.provider=dir"
        - "-Dkeycloak.migration.dir=/tmp/import"
        - "-Dkeycloak.profile.feature.upload_scripts=enabled"
      environment:
        DB_VENDOR: POSTGRES
        DB_ADDR: postgres
        DB_SCHEMA: public
        DB_DATABASE: keycloak_db
        DB_USER: postgres
        DB_PASSWORD: postgres123
        KEYCLOAK_HOSTNAME: keycloak-auth-server
        KEYCLOAK_ADMIN: admin
        KEYCLOAK_ADMIN_PASSWORD: admin
        KEYCLOAK_IMPORT: /tmp/import/miu-ea-movie-rating-realm.json
      ports:
        - 8180:8080
      depends_on:
        - postgres